/* Fixes issue with react-select dropdown. */
.path-admin-blocks-motrain #region-main,
.path-admin-blocks-motrain #region-main > .card {
    overflow-x: visible;
}

/** React selector. */
.block_motrain-selector {
    display: flex;
}
.block_motrain-react-select-container {
    max-width: 308px;
    width: 100%;
    margin-right: 5px;
}
.block_motrain-react-select__control {
    border-radius: 0 !important; /* stylelint-disable-line */
}
.block_motrain-react-select__menu {
    border-radius: 0 !important; /* stylelint-disable-line */
    margin-top: 0 !important; /* stylelint-disable-line */
}

/** Rules */
.block_motrain-rule-item {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.block_motrain-rule-item label {
    display: flex;
    align-items: center;
    font-weight: normal;
}
.block_motrain-rule-item-label {
    flex: 1;
    width: 16rem;
}
.block_motrain-rule-item-field {
    width: 8rem;
}
.block_motrain-section {
    margin-bottom: 1rem;
}
.block_motrain-section.expanded {
    border-bottom: 1px solid #efefef;
    padding-bottom: 4px;
}
.block_motrain-section-title {
    font-weight: bold;
    font-size: large;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}
.block_motrain-section-title a:hover {
    cursor: pointer;
}
.block_motrain-section-title .icon {
    margin-right: 4px;
}
.block_motrain-section-content {
    border-left: 3px solid #efefef;
    padding-left: 16px;
    margin-top: 4px;
}
.block_motrain-section-actions {
    display: flex;
    gap: 0.5rem;
}

/** Block content wrapper. */
.block_motrain-content-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.block_motrain-content-wrapper > div {
    flex: 1;
}

/** Block wallet. */
.block_motrain-wallet {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -10px;
}
.block_motrain-wallet .pic {
    justify-content: center;
    margin: 0 0.5rem;
    margin-top: 10px;
}
.block_motrain-wallet .pic img {
    height: 60px;
}
.block_motrain-wallet .coins {
    align-self: center;
    margin-top: 10px;
}
.block_motrain-wallet .amount {
    font-size: 150%;
    font-weight: bold;
    white-space: nowrap;
}
.block_motrain-wallet .legend {
    font-size: 85%;
    color: #666;
}

/** Block level. */
.block_motrain-level {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.block_motrain-level .pic {
    min-width: 2rem;
}
.block_motrain-level .pic img {
    width: 100%;
}
.block_motrain-level .block_motrain-progress {
    flex: 1;
    padding-top: 1rem;
}
.block_motrain-level [aria-role='progressbar'] {
    min-width: 80px;
    width: 100%;
    height: 10px;
    border-radius: 20px;
    border: 1px solid #dbdbdb;
    position: relative;
    overflow: hidden;
}
.block_motrain-level [aria-role='progressbar'] > div {
    background-color: #a7f3d0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}
.block_motrain-level .progress-text {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}
.block_motrain-level .progress-text span {
    color: #6b7280;
}

/** Block navigation. */
.block_motrain nav {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    margin-top: 1em;
}
.block_motrain nav .nav-button {
    flex: 1;
    align-self: auto;
    text-decoration: none;
    color: #333;
    font-size: 80%;
    padding: 5px 5px 0;
}
.block_motrain nav .nav-button .icon {
    margin: 0;
    padding: 0;
}
.block_motrain nav .nav-button .icon,
.block_motrain nav .nav-button .smallicon {
    width: 16px;
    height: 16px;
}
.block_motrain nav .nav-button:hover {
    background: #eee;
}
