{{#icondoubleurl}}
    <img src="{{ icondoubleurl }}" alt="{{#str}} coins, block_motrain {{/str}}" style="height: 100%; width: auto;">
{{/icondoubleurl}}
{{^icondoubleurl}}
    <svg style="height: 100%; width: auto;" width="26" height="16" viewBox="0 0 26 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="{{#str}} coins, block_motrain {{/str}}">
        <circle cx="18" cy="8" r="7" fill="#FFC566" stroke="#DBA03E" />
        <path d="M18 6V10" stroke="#DFA53A" strokeLinecap="square" />
        <circle cx="8" cy="8" r="7" fill="#FFC566" stroke="#DBA03E" />
        <path d="M8 6V10" stroke="#DFA53A" strokeLinecap="square" />
    </svg>
{{/icondoubleurl}}