<div class="block_motrain-level">
    <div class="pic">
        <img src="{{ badge_url }}" alt="{{#str}} leveln, block_motrain, {{ level }} {{/str}}">
        <div class="level-label">
            {{#str}} level, block_motrain {{/str}}
        </div>
    </div>
    <div class="block_motrain-progress">
        <div aria-role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{ progress_pc }}">
            <div style="width: {{progress_pc}}%;"></div>
        </div>
        <div class="progress-text">
            {{ coins_in_level_formatted }}<span>/{{ coins_needed_formatted }}</span>
        </div>
    </div>
</div>
