<svg width="51" height="47" viewBox="0 0 51 47" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1.0182 7.7106C1.0182 7.7106 -0.237991 25.5754 16.9655 29.3618" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M49.7917 7.7106C49.7917 7.7106 51.0461 25.5754 33.8853 29.3618" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M9.71538 7.7106H0.969727" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M49.7975 7.7106H41.0479" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M41.5089 1.03223C41.5089 9.23726 38.2105 33.1193 25.408 33.1193C12.6054 33.1193 9.30518 9.23726 9.30518 1.03223H41.5089Z" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M25.408 33.1193V45.4978" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M33.7686 45.4978H17.0435" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
</svg>