<div class="block_motrain-wallet">
    <div class="pic">
        <img src="{{pointsimageurl}}" alt="{{#str}} coins, block_motrain {{/str}}">
    </div>
    <div class="coins">
        {{! The coins must already be formatted to include the decimal places }}
        <div class="amount">{{coins}} {{pointsterm}}</div>
    </div>
</div>
